th:nth-child(1), td:nth-child(1){ width:50px; }
th:nth-child(2), td:nth-child(2){ width:130px; }
th:nth-child(3), td:nth-child(3){ width:150px; }
th:nth-child(4), td:nth-child(4){ width:100px; }
th:nth-child(5), td:nth-child(5){ width:100px; }
th:nth-child(6), td:nth-child(6){ width:100px; }
th:nth-child(7), td:nth-child(7){ width:110px; }
th:nth-child(8), td:nth-child(8){ width:110px; }
th:nth-child(9), td:nth-child(9){ width:100px; }
th:nth-child(10), td:nth-child(10){ width:100px; }
th:nth-child(11), td:nth-child(11){ width:100px; }
th:nth-child(12), td:nth-child(12){ width:100px; }
th:nth-child(13), td:nth-child(13){ width:100px; }
th:nth-child(14), td:nth-child(14){ width:100px; }
th:nth-child(15), td:nth-child(15){ width:70px; }